# Dictionaries

## A python data structure taking the form of a key:value pair

In [6]:
dict = {"Key":"value"}

In [7]:
dict

{'Key': 'value'}

In [8]:
dict.keys

In [9]:
dict.keys()

dict_keys(['Key'])

In [10]:
dict.values()

dict_values(['value'])

### Access a particular dictionary's key through this syntax

In [11]:
dict["Key"] = "Hello"
dict

{'Key': 'Hello'}

In [12]:
dict["Key"]

'Hello'

# Pandas dataframes

### 2D, mutable, potentially heterogeneous data structure as part of pandas a package built on top of numpy for more efficienct manipulation compared to using dictionary datastructure. Think of the structure as pivot table, tabular data, or SQL table.

##### There are plenty of built-in methods on dataframe

In [3]:
import pandas as pd

In [4]:
pd.__dict__

{'__name__': 'pandas',
 '__doc__': '\npandas - a powerful data analysis and manipulation library for Python\n=====================================================================\n\n**pandas** is a Python package providing fast, flexible, and expressive data\nstructures designed to make working with "relational" or "labeled" data both\neasy and intuitive. It aims to be the fundamental high-level building block for\ndoing practical, **real world** data analysis in Python. Additionally, it has\nthe broader goal of becoming **the most powerful and flexible open source data\nanalysis / manipulation tool available in any language**. It is already well on\nits way toward this goal.\n\nMain Features\n-------------\nHere are just a few of the things that pandas does well:\n\n  - Easy handling of missing data in floating point as well as non-floating\n    point data.\n  - Size mutability: columns can be inserted and deleted from DataFrame and\n    higher dimensional objects\n  - Automatic and explicit data alignment: objects can be explicitly aligned\n    to a set of labels, or the user can simply ignore the labels and let\n    `Series`, `DataFrame`, etc. automatically align the data for you in\n    computations.\n  - Powerful, flexible group by functionality to perform split-apply-combine\n    operations on data sets, for both aggregating and transforming data.\n  - Make it easy to convert ragged, differently-indexed data in other Python\n    and NumPy data structures into DataFrame objects.\n  - Intelligent label-based slicing, fancy indexing, and subsetting of large\n    data sets.\n  - Intuitive merging and joining data sets.\n  - Flexible reshaping and pivoting of data sets.\n  - Hierarchical labeling of axes (possible to have multiple labels per tick).\n  - Robust IO tools for loading data from flat files (CSV and delimited),\n    Excel files, databases, and saving/loading data from the ultrafast HDF5\n    format.\n  - Time series-specific functionality: date range generation and frequency\n    conversion, moving window statistics, date shifting and lagging.\n',
 '__package__': 'pandas',
 '__loader__': <_frozen_importlib_external.SourceFileLoader at 0x2798184cb80>,
 '__spec__': ModuleSpec(name='pandas', loader=<_frozen_importlib_external.SourceFileLoader object at 0x000002798184CB80>, origin='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py', submodule_search_locations=['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas']),
 '__path__': ['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas'],
 '__file__': 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py',
 '__cached__': 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__pycache__\\__init__.cpython-39.pyc',
 '__builtins__': {'__name__': 'builtins',
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__package__': '',
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>, origin='built-in'),
  '__build_class__': <function __build_class__>,
  '__import__': <function __import__>,
  'abs': <function abs(x, /)>,
  'all': <function all(iterable, /)>,
  'any': <function any(iterable, /)>,
  'ascii': <function ascii(obj, /)>,
  'bin': <function bin(number, /)>,
  'breakpoint': <function breakpoint>,
  'callable': <function callable(obj, /)>,
  'chr': <function chr(i, /)>,
  'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1, *, _feature_version=-1)>,
  'delattr': <function delattr(obj, name, /)>,
  'dir': <function dir>,
  'divmod': <function divmod(x, y, /)>,
  'eval': <function eval(source, globals=None, locals=None, /)>,
  'exec': <function exec(source, globals=None, locals=None, /)>,
  'format': <function format(value, format_spec='', /)>,
  'getattr': <function getattr>,
  'globals': <function globals()>,
  'hasattr': <function hasattr(obj, name, /)>,
  'hash': <function hash(obj, /)>,
  'hex': <function hex(number, /)>,
  'id': <function id(obj, /)>,
  'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000027981809220>>,
  'isinstance': <function isinstance(obj, class_or_tuple, /)>,
  'issubclass': <function issubclass(cls, class_or_tuple, /)>,
  'iter': <function iter>,
  'len': <function len(obj, /)>,
  'locals': <function locals()>,
  'max': <function max>,
  'min': <function min>,
  'next': <function next>,
  'oct': <function oct(number, /)>,
  'ord': <function ord(c, /)>,
  'pow': <function pow(base, exp, mod=None)>,
  'print': <function print>,
  'repr': <function repr(obj, /)>,
  'round': <function round(number, ndigits=None)>,
  'setattr': <function setattr(obj, name, value, /)>,
  'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
  'sum': <function sum(iterable, /, start=0)>,
  'vars': <function vars>,
  'None': None,
  'Ellipsis': Ellipsis,
  'NotImplemented': NotImplemented,
  'False': False,
  'True': True,
  'bool': bool,
  'memoryview': memoryview,
  'bytearray': bytearray,
  'bytes': bytes,
  'classmethod': classmethod,
  'complex': complex,
  'dict': dict,
  'enumerate': enumerate,
  'filter': filter,
  'float': float,
  'frozenset': frozenset,
  'property': property,
  'int': int,
  'list': list,
  'map': map,
  'object': object,
  'range': range,
  'reversed': reversed,
  'set': set,
  'slice': slice,
  'staticmethod': staticmethod,
  'str': str,
  'super': super,
  'tuple': tuple,
  'type': type,
  'zip': zip,
  '__debug__': True,
  'BaseException': BaseException,
  'Exception': Exception,
  'TypeError': TypeError,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'GeneratorExit': GeneratorExit,
  'SystemExit': SystemExit,
  'KeyboardInterrupt': KeyboardInterrupt,
  'ImportError': ImportError,
  'ModuleNotFoundError': ModuleNotFoundError,
  'OSError': OSError,
  'EnvironmentError': OSError,
  'IOError': OSError,
  'WindowsError': OSError,
  'EOFError': EOFError,
  'RuntimeError': RuntimeError,
  'RecursionError': RecursionError,
  'NotImplementedError': NotImplementedError,
  'NameError': NameError,
  'UnboundLocalError': UnboundLocalError,
  'AttributeError': AttributeError,
  'SyntaxError': SyntaxError,
  'IndentationError': IndentationError,
  'TabError': TabError,
  'LookupError': LookupError,
  'IndexError': IndexError,
  'KeyError': KeyError,
  'ValueError': ValueError,
  'UnicodeError': UnicodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'AssertionError': AssertionError,
  'ArithmeticError': ArithmeticError,
  'FloatingPointError': FloatingPointError,
  'OverflowError': OverflowError,
  'ZeroDivisionError': ZeroDivisionError,
  'SystemError': SystemError,
  'ReferenceError': ReferenceError,
  'MemoryError': MemoryError,
  'BufferError': BufferError,
  'Warning': Warning,
  'UserWarning': UserWarning,
  'DeprecationWarning': DeprecationWarning,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'SyntaxWarning': SyntaxWarning,
  'RuntimeWarning': RuntimeWarning,
  'FutureWarning': FutureWarning,
  'ImportWarning': ImportWarning,
  'UnicodeWarning': UnicodeWarning,
  'BytesWarning': BytesWarning,
  'ResourceWarning': ResourceWarning,
  'ConnectionError': ConnectionError,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'IsADirectoryError': IsADirectoryError,
  'NotADirectoryError': NotADirectoryError,
  'InterruptedError': InterruptedError,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'TimeoutError': TimeoutError,
  'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
  'copyright': Copyright (c) 2001-2022 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'license': See https://www.python.org/psf/license/,
  'help': Type help() for interactive help, or help(object) for help about object.,
  'execfile': <function _pydev_imps._pydev_execfile.execfile(file, glob=None, loc=None)>,
  'runfile': <function _pydev_bundle.pydev_umd.runfile(filename, args=None, wdir=None, namespace=None)>,
  '__IPYTHON__': True,
  'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
  'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000279818092B0>>},
 '__docformat__': 'restructuredtext',
 '_typing': <module 'pandas._typing' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\_typing.py'>,
 '_config': <module 'pandas._config' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\_config\\__init__.py'>,
 '_libs': <module 'pandas._libs' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\_libs\\__init__.py'>,
 'core': <module 'pandas.core' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\core\\__init__.py'>,
 'errors': <module 'pandas.errors' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\errors\\__init__.py'>,
 'util': <module 'pandas.util' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\util\\__init__.py'>,
 'compat': <module 'pandas.compat' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\compat\\__init__.py'>,
 '_is_numpy_dev': False,
 'get_option': <pandas._config.config.CallableDynamicDoc at 0x279831ba700>,
 'set_option': <pandas._config.config.CallableDynamicDoc at 0x279831baa60>,
 'reset_option': <pandas._config.config.CallableDynamicDoc at 0x279831baac0>,
 'describe_option': <pandas._config.config.CallableDynamicDoc at 0x279831ba910>,
 'option_context': pandas._config.config.option_context,
 'options': <pandas._config.config.DictWrapper at 0x279831ba9a0>,
 'pandas': <module 'pandas' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>,
 'io': <module 'pandas.io' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\io\\__init__.py'>,
 'tseries': <module 'pandas.tseries' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\tseries\\__init__.py'>,
 'arrays': <module 'pandas.arrays' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\arrays\\__init__.py'>,
 'plotting': <module 'pandas.plotting' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\plotting\\__init__.py'>,
 'Int8Dtype': pandas.core.arrays.integer.Int8Dtype,
 'Int16Dtype': pandas.core.arrays.integer.Int16Dtype,
 'Int32Dtype': pandas.core.arrays.integer.Int32Dtype,
 'Int64Dtype': pandas.core.arrays.integer.Int64Dtype,
 'UInt8Dtype': pandas.core.arrays.integer.UInt8Dtype,
 'UInt16Dtype': pandas.core.arrays.integer.UInt16Dtype,
 'UInt32Dtype': pandas.core.arrays.integer.UInt32Dtype,
 'UInt64Dtype': pandas.core.arrays.integer.UInt64Dtype,
 'Float32Dtype': pandas.core.arrays.floating.Float32Dtype,
 'Float64Dtype': pandas.core.arrays.floating.Float64Dtype,
 'CategoricalDtype': pandas.core.dtypes.dtypes.CategoricalDtype,
 'PeriodDtype': pandas.core.dtypes.dtypes.PeriodDtype,
 'IntervalDtype': pandas.core.dtypes.dtypes.IntervalDtype,
 'DatetimeTZDtype': pandas.core.dtypes.dtypes.DatetimeTZDtype,
 'StringDtype': pandas.core.arrays.string_.StringDtype,
 'BooleanDtype': pandas.core.arrays.boolean.BooleanDtype,
 'NA': <NA>,
 'isna': <function pandas.core.dtypes.missing.isna(obj)>,
 'isnull': <function pandas.core.dtypes.missing.isna(obj)>,
 'notna': <function pandas.core.dtypes.missing.notna(obj)>,
 'notnull': <function pandas.core.dtypes.missing.notna(obj)>,
 'Index': pandas.core.indexes.base.Index,
 'CategoricalIndex': pandas.core.indexes.category.CategoricalIndex,
 'RangeIndex': pandas.core.indexes.range.RangeIndex,
 'MultiIndex': pandas.core.indexes.multi.MultiIndex,
 'IntervalIndex': pandas.core.indexes.interval.IntervalIndex,
 'TimedeltaIndex': pandas.core.indexes.timedeltas.TimedeltaIndex,
 'DatetimeIndex': pandas.core.indexes.datetimes.DatetimeIndex,
 'PeriodIndex': pandas.core.indexes.period.PeriodIndex,
 'IndexSlice': <pandas.core.indexing._IndexSlice at 0x279837c7ac0>,
 'NaT': NaT,
 'Period': pandas._libs.tslibs.period.Period,
 'period_range': <function pandas.core.indexes.period.period_range(start=None, end=None, periods: 'int | None' = None, freq=None, name=None) -> 'PeriodIndex'>,
 'Timedelta': pandas._libs.tslibs.timedeltas.Timedelta,
 'timedelta_range': <function pandas.core.indexes.timedeltas.timedelta_range(start=None, end=None, periods: 'int | None' = None, freq=None, name=None, closed=None) -> 'TimedeltaIndex'>,
 'Timestamp': pandas._libs.tslibs.timestamps.Timestamp,
 'date_range': <function pandas.core.indexes.datetimes.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize: 'bool' = False, name: 'Hashable' = None, closed: 'str | None | lib.NoDefault' = <no_default>, inclusive: 'str | None' = None, **kwargs) -> 'DatetimeIndex'>,
 'bdate_range': <function pandas.core.indexes.datetimes.bdate_range(start=None, end=None, periods: 'int | None' = None, freq='B', tz=None, normalize: 'bool' = True, name: 'Hashable' = None, weekmask=None, holidays=None, closed: 'lib.NoDefault' = <no_default>, inclusive: 'str | None' = None, **kwargs) -> 'DatetimeIndex'>,
 'Interval': pandas._libs.interval.Interval,
 'interval_range': <function pandas.core.indexes.interval.interval_range(start=None, end=None, periods=None, freq=None, name: 'Hashable' = None, closed='right') -> 'IntervalIndex'>,
 'DateOffset': pandas._libs.tslibs.offsets.DateOffset,
 'to_numeric': <function pandas.core.tools.numeric.to_numeric(arg, errors='raise', downcast=None)>,
 'to_datetime': <function pandas.core.tools.datetimes.to_datetime(arg: 'DatetimeScalarOrArrayConvertible', errors: 'str' = 'raise', dayfirst: 'bool' = False, yearfirst: 'bool' = False, utc: 'bool | None' = None, format: 'str | None' = None, exact: 'bool' = True, unit: 'str | None' = None, infer_datetime_format: 'bool' = False, origin='unix', cache: 'bool' = True) -> 'DatetimeIndex | Series | DatetimeScalar | NaTType | None'>,
 'to_timedelta': <function pandas.core.tools.timedeltas.to_timedelta(arg, unit=None, errors='raise')>,
 'Flags': pandas.core.flags.Flags,
 'Grouper': pandas.core.groupby.grouper.Grouper,
 'factorize': <function pandas.core.algorithms.factorize(values, sort: 'bool' = False, na_sentinel: 'int | None' = -1, size_hint: 'int | None' = None) -> 'tuple[np.ndarray, np.ndarray | Index]'>,
 'unique': <function pandas.core.algorithms.unique(values)>,
 'value_counts': <function pandas.core.algorithms.value_counts(values, sort: 'bool' = True, ascending: 'bool' = False, normalize: 'bool' = False, bins=None, dropna: 'bool' = True) -> 'Series'>,
 'NamedAgg': pandas.core.groupby.generic.NamedAgg,
 'array': <function pandas.core.construction.array(data: 'Sequence[object] | AnyArrayLike', dtype: 'Dtype | None' = None, copy: 'bool' = True) -> 'ExtensionArray'>,
 'Categorical': pandas.core.arrays.categorical.Categorical,
 'set_eng_float_format': <function pandas.io.formats.format.set_eng_float_format(accuracy: 'int' = 3, use_eng_prefix: 'bool' = False) -> 'None'>,
 'Series': pandas.core.series.Series,
 'DataFrame': pandas.core.frame.DataFrame,
 'SparseDtype': pandas.core.arrays.sparse.dtype.SparseDtype,
 'infer_freq': <function pandas.tseries.frequencies.infer_freq(index, warn: 'bool' = True) -> 'str | None'>,
 'offsets': <module 'pandas.tseries.offsets' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\tseries\\offsets.py'>,
 'eval': <function pandas.core.computation.eval.eval(expr: 'str | BinOp', parser: 'str' = 'pandas', engine: 'str | None' = None, truediv=<no_default>, local_dict=None, global_dict=None, resolvers=(), level=0, target=None, inplace=False)>,
 'concat': <function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]', axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'>,
 'lreshape': <function pandas.core.reshape.melt.lreshape(data: 'DataFrame', groups, dropna: 'bool' = True, label=None) -> 'DataFrame'>,
 'melt': <function pandas.core.reshape.melt.melt(frame: 'DataFrame', id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index: 'bool' = True) -> 'DataFrame'>,
 'wide_to_long': <function pandas.core.reshape.melt.wide_to_long(df: 'DataFrame', stubnames, i, j, sep: 'str' = '', suffix: 'str' = '\\d+') -> 'DataFrame'>,
 'merge': <function pandas.core.reshape.merge.merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'>,
 'merge_asof': <function pandas.core.reshape.merge.merge_asof(left: 'DataFrame | Series', right: 'DataFrame | Series', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, by=None, left_by=None, right_by=None, suffixes: 'Suffixes' = ('_x', '_y'), tolerance=None, allow_exact_matches: 'bool' = True, direction: 'str' = 'backward') -> 'DataFrame'>,
 'merge_ordered': <function pandas.core.reshape.merge.merge_ordered(left: 'DataFrame', right: 'DataFrame', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_by=None, right_by=None, fill_method: 'str | None' = None, suffixes: 'Suffixes' = ('_x', '_y'), how: 'str' = 'outer') -> 'DataFrame'>,
 'crosstab': <function pandas.core.reshape.pivot.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins: 'bool' = False, margins_name: 'str' = 'All', dropna: 'bool' = True, normalize=False) -> 'DataFrame'>,
 'pivot': <function pandas.core.reshape.pivot.pivot(data: 'DataFrame', index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, values: 'IndexLabel | None' = None) -> 'DataFrame'>,
 'pivot_table': <function pandas.core.reshape.pivot.pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'str' = 'All', observed: 'bool' = False, sort: 'bool' = True) -> 'DataFrame'>,
 'get_dummies': <function pandas.core.reshape.reshape.get_dummies(data, prefix=None, prefix_sep='_', dummy_na: 'bool' = False, columns=None, sparse: 'bool' = False, drop_first: 'bool' = False, dtype: 'Dtype | None' = None) -> 'DataFrame'>,
 'cut': <function pandas.core.reshape.tile.cut(x, bins, right: 'bool' = True, labels=None, retbins: 'bool' = False, precision: 'int' = 3, include_lowest: 'bool' = False, duplicates: 'str' = 'raise', ordered: 'bool' = True)>,
 'qcut': <function pandas.core.reshape.tile.qcut(x, q, labels=None, retbins: 'bool' = False, precision: 'int' = 3, duplicates: 'str' = 'raise')>,

### Nested dictionary conversion to dataframe.
##### Simply pass the dataframe function the dictionary and assign it to a variable.

In [5]:
stateInfo = {'Colorado': 
            {'Population': 5812000,
            'Capital': 'Denver',
            'Founded': 'Feb. 28, 1861'},
             
            'North Dakota':
            {'Population':774948,
            'Capital':'Bismarck',
            'Founded': 'Nov. 2, 1889'}}

# Call the value residing in the 'Colorado > Capital' key value
stateInfo['Colorado']['Capital']

'Denver'

In [6]:
 # tpass Stateinfo to DataFrame method, transpose it by .T, and assign to variable
stateInfo = pd.DataFrame(stateInfo).T

In [7]:
stateInfo

             Population   Capital        Founded
Colorado        5812000    Denver  Feb. 28, 1861
North Dakota     774948  Bismarck   Nov. 2, 1889

In [8]:
# It is pretty obvious what this syntax does. A method called on the dataframe and passed the filename you want
stateInfo.to_excel("Chapter_3_in_class.xlsx")

### Creating a nested dictionary containing products using a for loop and converting to dataframe

In [9]:
min = 0
max = 100

productTable = {}

for i in range(min, max +1): # for each row;
    productTable[i] = {} # create a dictionary at that location in mem
    for j in range(min, max +1): #for each column
        productTable[i][j] = i * j # assign product to current loop iteration

productTable = pd.DataFrame(productTable)
productTable

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
2,0,2,4,6,8,10,12,14,16,18,...,182,184,186,188,190,192,194,196,198,200
3,0,3,6,9,12,15,18,21,24,27,...,273,276,279,282,285,288,291,294,297,300
4,0,4,8,12,16,20,24,28,32,36,...,364,368,372,376,380,384,388,392,396,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,96,192,288,384,480,576,672,768,864,...,8736,8832,8928,9024,9120,9216,9312,9408,9504,9600
97,0,97,194,291,388,485,582,679,776,873,...,8827,8924,9021,9118,9215,9312,9409,9506,9603,9700
98,0,98,196,294,392,490,588,686,784,882,...,8918,9016,9114,9212,9310,9408,9506,9604,9702,9800
99,0,99,198,297,396,495,594,693,792,891,...,9009,9108,9207,9306,9405,9504,9603,9702,9801,9900
100,0,100,200,300,400,500,600,700,800,900,...,9100,9200,9300,9400,9500,9600,9700,9800,9900,10000

##### Export dictionary as csv

In [10]:
facultyDict = {
    "Caton, James":
    {
        "Position":"Assistant Professor",
        "Email":"james.caton@ndsu.edu",
        "Phone":"701-231-7337"
    },
     "Englund, David":
    {
        "Position":"Senior Lecturer",
        "Email":"david.englund@ndsu.edu",
        "Phone":"701-231-9797"
    },
    "Dean, James":
    {
        "Position":"Assistant Professor",
        "Email":"james.dean.1@ndsu.edu",
        "Phone":"701-231-6641"
    }   
}

facultyDict

{'Caton, James': {'Position': 'Assistant Professor',
  'Email': 'james.caton@ndsu.edu',
  'Phone': '701-231-7337'},
 'Englund, David': {'Position': 'Senior Lecturer',
  'Email': 'david.englund@ndsu.edu',
  'Phone': '701-231-9797'},
 'Dean, James': {'Position': 'Assistant Professor',
  'Email': 'james.dean.1@ndsu.edu',
  'Phone': '701-231-6641'}}

In [11]:
pd.DataFrame(facultyDict).T

                           Position                   Email         Phone
Caton, James    Assistant Professor    james.caton@ndsu.edu  701-231-7337
Englund, David      Senior Lecturer  david.englund@ndsu.edu  701-231-9797
Dean, James     Assistant Professor   james.dean.1@ndsu.edu  701-231-6641

### Import html page as dataframe

In [12]:
table = pd.read_html('https://www.ndsu.edu/agriculture/academics/faculty-and-staff', match='Bangsund, Dean')

In [13]:
df = table[0]
df.head()

,Name,Position,Email,Phone
0,"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu,Phone 701-231-7471
1,"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu,Phone 701-231-7379
2,"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu,Phone 701-231-8672
3,"Carney, Jennifer",Student Services Director,Jennifer.Carney@ndsu.edu,Phone 701-231-7442
4,"Caton, James",Assistant Professor,james.caton@ndsu.edu,Phone 701-231-7337

### Data Ingestion

In [14]:
tableClean = pd.read_csv("copyPasteFacultyList.csv")
tableClean

,Name,Position,Email,Phone
0,"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu,Phone
1,NaN,NaN,NaN,701-231-7471
2,"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu,Phone
3,NaN,NaN,NaN,701-231-7379
4,"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu,Phone
...,...,...,...,...
65,NaN,NaN,NaN,701-231-7443
66,"Wachenheim, Cheryl",Professor,Cheryl.Wachenheim@ndsu.edu,Phone
67,NaN,NaN,NaN,701-231-7452
68,"Wilson, William",Distinguished Professor,William.Wilson@ndsu.edu,Phone
69,NaN,NaN,NaN,701-231-7472

### Data Cleaning

##### Use dropna function to remove null values. Save Phone column to separate table, del column from original table

In [15]:
cleanPhoneNums = tableClean[['Phone']]
del tableClean["Phone"]

In [16]:
tableClean.dropna()
tableClean.head()

,Name,Position,Email
0,"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu
1,NaN,NaN,NaN
2,"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu
3,NaN,NaN,NaN
4,"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu

### pd.dropna()

In [17]:
tableClean = tableClean.dropna()  # Drop null values
cleanPhoneNums.head(10)

          Phone
0         Phone
1  701-231-7471
2         Phone
3  701-231-7379
4         Phone
5  701-231-8672
6         Phone
7  701-231-7442
8         Phone
9  701-231-7337

In [18]:
tableClean.head()

,Name,Position,Email
0,"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu
2,"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu
4,"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu
6,"Carney, Jennifer",Student Services Director,Jennifer.Carney@ndsu.edu
8,"Caton, James",Assistant Professor,james.caton@ndsu.edu

### Use iloc to identify observations

In [19]:
# A phone number is in the second position, then every 3 after that

cleanPhoneNums.iloc[1::2] # Start at 1, count by three
# Same syntax as list values

           Phone
1   701-231-7471
3   701-231-7379
5   701-231-8672
7   701-231-7442
9   701-231-7337
11  701-231-9797
13  701-231-6641
15  701-231-7393
17  701-231-5747
19  701-231-8103
21  701-231-6494
23  701-231-7832
25  701-231-5374
27  701-730-0940
29  701-231-6642
31  701-231-1871
33  701-231-8819
35  701-231-8642
37  701-231-8883
39  701-231-9519
41  701-231-7441
43  701-231-8587
45  701-231-7377
47  701-231-8248
49  701-231-7469
51  701-231-5882
53  701-231-7470
55  701-231-5265
57  701-231-9796
59  701-231-6189
61  701-231-7448
63  701-231-7441
65  701-231-7443
67  701-231-7452
69  701-231-7472

In [20]:
# Place these values in the original dataframe in a column named 'Phones'

In [21]:
tableClean['Phone Numbers'] = cleanPhoneNums["Phone"][1::2].values

C:\Users\calvi\AppData\Local\Temp\ipykernel_5248\195734024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tableClean['Phone Numbers'] = cleanPhoneNums["Phone"][1::2].values

In [22]:
tableClean.head()

,Name,Position,Email,Phone Numbers
0,"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu,701-231-7471
2,"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu,701-231-7379
4,"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu,701-231-8672
6,"Carney, Jennifer",Student Services Director,Jennifer.Carney@ndsu.edu,701-231-7442
8,"Caton, James",Assistant Professor,james.caton@ndsu.edu,701-231-7337

In [23]:
tableClean = tableClean.set_index("Name")
tableClean

,Position,Email,Phone Numbers
Name,,,
"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu,701-231-7471
"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu,701-231-7379
"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu,701-231-8672
"Carney, Jennifer",Student Services Director,Jennifer.Carney@ndsu.edu,701-231-7442
"Caton, James",Assistant Professor,james.caton@ndsu.edu,701-231-7337
"Dean, James",Assistant Professor of Economics,james.dean.1@ndsu.edu,701-231-9797
"Englund, David",Senior Lecturer,david.englund@ndsu.edu,701-231-6641
"Haakenson, Paulann",Information Processing Specialist,paulann.haakenson@ndsu.edu,701-231-7393
"Hanson, Erik",Assistant Professor,erik.drevlow.hanson@ndsu.edu,701-231-5747
"Haugen, Ron",Farm Management Specialist,ronald.haugen@ndsu.edu,701-231-8103
"Hearne, Robert",Professor,Robert.Hearne@ndsu.edu,701-231-6494
"Jackson, Jeremy",Professor,Jeremy.Jackson@ndsu.edu,701-231-7832
"Krumel, Thomas",Assistant Professor,thomas.krumel@ndsu.edu,701-231-5374
"Krupich, Brenda",Information Processor,Brenda.Krupich@ndsu.edu,701-730-0940
"Lakkakula, Prithviraj",Research Assistant Professor,prithviraj.lakkakula@ndsu.edu,701-231-6642
"Lawson, Kerianne",Assistant Professor,kerianne.lawson@ndsu.edu,701-231-1871
"Lim, Siew Hoon",Professor,Siew.Lim@ndsu.edu,701-231-8819
"Mann, Lisa",Administrative Coordinator,lisa.mann@ndsu.edu,701-231-8642
"March, Raymond",Assistant Professor,raymond.j.march@ndsu.edu,701-231-8883
"Miljkovic, Dragan",Professor,Dragan.Miljkovic@ndsu.edu,701-231-9519
"Nelson, Edith",Administrative Assistant,edie.nelson@ndsu.edu,701-231-7441
"Nganje, William","Department Chair, Agribusiness and Applied Eco...",william.nganje@ndsu.edu,701-231-8587
"Olson, Frayne",Associate Professor/Crops Economist,frayne.olson@ndsu.edu,701-231-7377
"Parman, Bryon",Assistant Professor/Agricultural Finance Speci...,bryon.parman@ndsu.edu,701-231-8248
"Petry, Tim",Associate Professor/Livestock Economist,tim.petry@ndsu.edu,701-231-7469
"Rao, Xudong",Assistant Professor,xudong.rao@ndsu.edu,701-231-5882
"Rayamajhee, Veeshan",Assistant Professor,veeshan.rayamajhee@ndsu.edu,701-231-7470
"Ripplinger, David",Associate Professor/Extension Bioproducts/Bioe...,david.ripplinger@ndsu.edu,701-231-5265
"Roberts, David",Associate Professor,David.C.Roberts@ndsu.edu,701-231-9796
"Schweiss, Kristi","Assistant Director, Quentin Burdick Center for...",kristi.schweiss@ndsu.edu,701-231-6189
"Sharma, Anupa","Asst. Prof. & Asst. Dir., Center for Ag Policy...",anupa.sharma@ndsu.edu,701-231-7448
"Steinbach, Sandro",Associate Professor/Director for Agricultural ...,sandro.steinbach@ndsu.edu,701-231-7441
"Swank, Justin",Account Technician,justin.swank@ndsu.edu,701-231-7443
"Wachenheim, Cheryl",Professor,Cheryl.Wachenheim@ndsu.edu,701-231-7452
"Wilson, William",Distinguished Professor,William.Wilson@ndsu.edu,701-231-7472

### Export

In [24]:
tableClean.to_csv("cleanedListOfFaculty.csv")

In [27]:
readCSV = pd.read_csv("cleanedListOfFaculty.csv").set_index("Name")

In [29]:
readCSV.head()

,Position,Email,Phone Numbers
Name,,,
"Bangsund, Dean",Research Scientist,d.bangsund@ndsu.edu,701-231-7471
"Biermacher, Jon",Extension Livestock Development Specialist,jon.biermacher@ndsu.edu,701-231-7379
"Bullock, David",Research Assoc Professor,david.w.bullock@ndsu.edu,701-231-8672
"Carney, Jennifer",Student Services Director,Jennifer.Carney@ndsu.edu,701-231-7442
"Caton, James",Assistant Professor,james.caton@ndsu.edu,701-231-7337